.jumbotron {
  background-image: url("https://images.unsplash.com/photo-1553096101-a3f068e65db8?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=882&q=80");
  background-blend-mode: soft-light;
  background-repeat: no-repeat;
  background-position: center;
  -webkit-background-size: cover;
  background-size: cover;
  margin-bottom: 0px;
  text-align: center;
}

.jumbotron h1 {
  font-family: "Montserrat", sans-serif;
  font-size: 65px;
  text-transform: uppercase;
  font-weight: 900;
  color: #e7283a;
}

.jumbotron p {
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
  font-weight: 500;
  text-transform: uppercase;
}
